## LAB TITLE: MACHINE LEARNING$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$ LAB CODE: CSE4020$\;\;\;\;$Assignment No:2

In [ ]:
Num, Name = input("Reg. Number:"), input("Name:")

Reg. Number:20BCE1229
Name:Palesha Basumatary

### Task1: Pandas Refresher
* Complete the micro certfication on [Practice on Pandas](https://www.kaggle.com/learn/pandas)

### Task2: Pandas Refresher
* * Complete the supplied Cheat Sheets

### Task3: Data Cleaning
* Practice the discussed preprocessing techniques in the lab.

###Task1: Panda Refresher

![Palesha Basumatary - Pandas.png]()

###Task2: Pandas Refresher

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
series1 = pd.Series([1,2],index = ['a','b'])
series1.values

array([1, 2])

In [ ]:
series2 = pd.Series([1,1],index = ['a','b'])

In [ ]:
series1['a']
series1[['b','a']]

b    2
a    1
dtype: int64

In [ ]:
series1.index

Index(['a', 'b'], dtype='object')

In [ ]:
series1.name

In [ ]:
series1.index.name

In [ ]:
series1+series2

a    2
b    3
dtype: int64

In [ ]:
series2 = series1.unique()
series2

array([1, 2])

In [ ]:
dict1 = {'state': ['Ohio', 'CA'], 'year': [2000, 2010]}

df1 = pd.DataFrame(dict1,index=['row1','row2'], columns=['year','state'])
df1

      year state
row1  2000  Ohio
row2  2010    CA

In [ ]:
dict2 = {'col1': {'row1':1,
                  'row2':2},
         'col2': {'row1':3,
                  'row2':4
                  }
         }
df2= pd.DataFrame(dict2)
df2

      col1  col2
row1     1     3
row2     2     4

In [ ]:
df2.columns

Index(['col1', 'col2'], dtype='object')

In [ ]:
df2.index

Index(['row1', 'row2'], dtype='object')

In [ ]:
df2.values

array([[1, 3],
       [2, 4]])

In [ ]:
df2.col1

row1    1
row2    2
Name: col1, dtype: int64

In [ ]:
df1.loc['row1']

year     2000
state    Ohio
Name: row1, dtype: object

In [ ]:
df1['eastern'] = df1.state =='Ohio'
df1

      year state  eastern
row1  2000  Ohio     True
row2  2010    CA    False

In [ ]:
del df1['eastern']

In [ ]:
df1

      year state
row1  2000  Ohio
row2  2010    CA

In [ ]:
series1 = pd.Series(np.random.randn(6),index = [['a','a','a','b','b','b'],[1,2,3,1,2,3]])
series1.index.names = ['key1', 'key2']
series1

key1  key2
a     1      -0.382654
      2       1.278345
      3      -0.936876
b     1       0.457489
      2       0.230716
      3      -0.572655
dtype: float64

In [ ]:
series1['b']

key2
1    0.457489
2    0.230716
3   -0.572655
dtype: float64

In [ ]:
series1[:,2]

key1
a    1.278345
b    0.230716
dtype: float64

In [ ]:
swapSeries1 = series1.swaplevel('key1', 'key2')

In [ ]:
swapSeries1

key2  key1
1     a      -0.382654
2     a       1.278345
3     a      -0.936876
1     b       0.457489
2     b       0.230716
3     b      -0.572655
dtype: float64

In [ ]:
series1.sort_index()

key1  key2
a     1      -0.382654
      2       1.278345
      3      -0.936876
b     1       0.457489
      2       0.230716
      3      -0.572655
dtype: float64

In [ ]:
series1.swaplevel(0,1).sort_index()

key2  key1
1     a      -0.382654
      b       0.457489
2     a       1.278345
      b       0.230716
3     a      -0.936876
      b      -0.572655
dtype: float64

In [ ]:
series1.groupby(by = "key2").sum()

key2
1    0.074835
2    1.509061
3   -1.509531
dtype: float64

In [ ]:
df2= df1.set_index(['year','state'])
df2

Empty DataFrame
Columns: []
Index: [(2000, Ohio), (2010, CA)]

In [ ]:
from pandas.io.formats.format import NA

df3 = pd.DataFrame({'col1': {'row1':NA,
                             'row2':2},
                    'col2': {'row1':3,
                             'row2':4
                             }
                    }
         )
df3

      col1  col2
row1  <NA>     3
row2     2     4

In [ ]:
df4 = df3.dropna()
df4

     col1  col2
row2    2     4

In [ ]:
df3.dropna(axis =1)

      col2
row1     3
row2     4

In [ ]:
df3.dropna(how = 'all')

      col1  col2
row1  <NA>     3
row2     2     4

In [ ]:
df4 = pd.DataFrame({'col1': {'row1':NA,
                             'row2':2},
                    'col2': {'row1':3,
                             'row2':NA
                             }
                    }
         )

In [ ]:
df2 = df3.fillna(0)
df2

      col1  col2
row1     0     3
row2     2     4

In [ ]:
df4.fillna({'col1' : 0, 'col2' : -1})

      col1  col2
row1     0     3
row2     2    -1

In [ ]:
df4.fillna(method = 'ffill',limit = 2)

      col1  col2
row1  <NA>     3
row2     2     3

In [ ]:
df1[['state','year']]

     state  year
row1  Ohio  2000
row2    CA  2010

In [ ]:
df1[[True,False]]

      year state
row1  2000  Ohio

In [ ]:
df1.loc['row1']

year     2000
state    Ohio
Name: row1, dtype: object

In [ ]:
df2[df2['col2']>3]

      col1  col2
row2     2     4

In [ ]:
df2.drop('row1')

      col1  col2
row2     2     4

In [ ]:
df2.drop('col1',axis=1)

      col2
row1     3
row2     4

In [ ]:
date_index = pd.date_range('01/23/2010', periods = 10, freq = 'D')
df2.reindex(date_index)

            col1  col2
2010-01-23   NaN   NaN
2010-01-24   NaN   NaN
2010-01-25   NaN   NaN
2010-01-26   NaN   NaN
2010-01-27   NaN   NaN
2010-01-28   NaN   NaN
2010-01-29   NaN   NaN
2010-01-30   NaN   NaN
2010-01-31   NaN   NaN
2010-02-01   NaN   NaN

In [ ]:
df2.reindex(date_index, fill_value = 0)

            col1  col2
2010-01-23     0     0
2010-01-24     0     0
2010-01-25     0     0
2010-01-26     0     0
2010-01-27     0     0
2010-01-28     0     0
2010-01-29     0     0
2010-01-30     0     0
2010-01-31     0     0
2010-02-01     0     0

In [ ]:
df2.reindex(columns = ['a', 'b'])

       a   b
row1 NaN NaN
row2 NaN NaN

In [ ]:
df2= pd.DataFrame({'col1': {'row1':1,
                  'row2':2},
         'col2': {'row1':3,
                  'row2':4
                  }
         }
         )
df2
df3= pd.DataFrame({'col1': {'row1':4,
                  'row2':1},
         'col2': {'row1':NA,
                  'row2':3
                  }
         }
         )
df3

      col1  col2
row1     4  <NA>
row2     1     3

In [ ]:
df2.add(df3,fill_value =0)

      col1 col2
row1     5    3
row2     3    7

In [ ]:
df2.iloc[0]

col1    1
col2    3
Name: row1, dtype: int64

In [ ]:
series1.sort_index()

key1  key2
a     1      -0.382654
      2       1.278345
      3      -0.936876
b     1       0.457489
      2       0.230716
      3      -0.572655
dtype: float64

In [ ]:
series1.rank()

key1  key2
a     1       3.0
      2       6.0
      3       1.0
b     1       5.0
      2       4.0
      3       2.0
dtype: float64

In [ ]:

f = lambda x: x.max() - x.min()
def f(x): return pd.Series([x.max(), x.min()]) 
# return multiple values
df3.apply(f)

   col1  col2
0     4     3
1     1     3

In [ ]:
df3.groupby('col2').mean()

      col1
col2
3      1.0

In [ ]:
df3.groupby([df3['col2'],df3['col1']]).mean()

Empty DataFrame
Columns: []
Index: [(3, 1)]

In [ ]:
grouped = df3['col1'].groupby(df3['col2'])
grouped.mean()

col2
3    1.0
Name: col1, dtype: float64

In [ ]:
df3['col1'].groupby(df3['col2'])

In [ ]:
for name, groupdata in df3.groupby('col2'):
  print("Name : ",name)
  print("Groupdata : ",groupdata)

Name :  3
Groupdata :        col1 col2
row2     1    3

In [ ]:
for (k1, k2), groupdata in df3.groupby(['col2', 'col1']):
  print("Name : ",name)
  print("Groupdata : ",groupdata)

Name :  3
Groupdata :        col1 col2
row2     1    3

In [ ]:
df3.groupby(len).sum()

   col1
4     5

In [ ]:
from statistics import mean
grouped.agg(['mean', 'std'])

      mean  std
col2
3      1.0  NaN

In [ ]:
grouped.agg([('col1', 'mean'), ('col2', 'std')])

      col1  col2
col2
3      1.0   NaN

In [ ]:
#grouped.agg({'col1' : [min,max], 'col3' : sum})
df3

      col1  col2
row1     4  <NA>
row2     1     3

In [ ]:
#df3['col1'].astype('int')
df3.groupby(by = 'col1').apply(min)

      col1  col2
col1
1        1   3.0
4        4   NaN

In [ ]:
df1

      year state
row1  2000  Ohio
row2  2010    CA

In [ ]:
df4

      col1  col2
row1  <NA>     3
row2     2  <NA>

In [ ]:
df3 = pd.merge(df2, df4, on = 'col2')
df3

   col1_x col2 col1_y
0       1    3   <NA>

In [ ]:
df3 = pd.merge(df2, df2, left_index = True, right_index = True)
df3

      col1_x  col2_x  col1_y  col2_y
row1       1       3       1       3
row2       2       4       2       4

In [ ]:
df3 = pd.concat([df2, df1], ignore_index = True) 
df3

   col1  col2    year state
0   1.0   3.0     NaN   NaN
1   2.0   4.0     NaN   NaN
2   NaN   NaN  2000.0  Ohio
3   NaN   NaN  2010.0    CA

In [ ]:
df3 = df1.combine_first(df2) 
df3

      col1  col2 state  year
row1     1     3  Ohio  2000
row2     2     4    CA  2010

In [ ]:
series1

key1  key2
a     1      -0.382654
      2       1.278345
      3      -0.936876
b     1       0.457489
      2       0.230716
      3      -0.572655
dtype: float64

In [ ]:
series1 = df1.stack()
series1

row1  year     2000
      state    Ohio
row2  year     2010
      state      CA
dtype: object

In [ ]:
df1 = series1.unstack()
df1

      year state
row1  2000  Ohio
row2  2010    CA

In [ ]:
df = pd.DataFrame({'fff': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bbb': ['P', 'Q', 'R', 'P', 'Q', 'R'],
                   'baa': [2, 3, 4, 5, 6, 7],
                   'zzz': ['h', 'i', 'j', 'k', 'l', 'm']})
df

   fff bbb  baa zzz
0  one   P    2   h
1  one   Q    3   i
2  one   R    4   j
3  two   P    5   k
4  two   Q    6   l
5  two   R    7   m

In [ ]:
df.pivot(index='fff', columns='bbb', values='baa')

bbb  P  Q  R
fff
one  2  3  4
two  5  6  7

In [ ]:
series1 = df1.duplicated()
series1

row1    False
row2    False
dtype: bool

In [ ]:
dict1 = {'state': ['Ohio', 'Ohio'], 'year': [2010, 2010]}

df1 = pd.DataFrame(dict1,index=['row1','row2'], columns=['year','state'])
df1

      year state
row1  2010  Ohio
row2  2010  Ohio

In [ ]:
df1.duplicated()

row1    False
row2     True
dtype: bool

In [ ]:
df2 = df1.drop_duplicates()
df2

      year state
row1  2010  Ohio

In [ ]:
df3['newCol'] = df3['col2'].map(dict1) 
df3

      col1  col2 state  year newCol
row1     1     3  Ohio  2000    NaN
row2     2     4    CA  2010    NaN

In [ ]:
df2 = df4.replace(np.nan, 100)
df2

      col1  col2
row1   100     3
row2     2   100

In [ ]:
df2 = df1.replace([-1, np.nan], [1, 2])
df2

      year state
row1  2010  Ohio
row2  2010  Ohio

In [ ]:
df1.index = df1.index.map(str.upper)
df1

      year state
ROW1  2010  Ohio
ROW2  2010  Ohio

In [ ]:
df2 = df1.rename(index = {'row1' : 'newRow1'}, columns= str.upper) 
df2

      YEAR STATE
ROW1  2010  Ohio
ROW2  2010  Ohio

In [ ]:
bins = [18, 26, 35]
array1 = [1,2,3]
cat = pd.cut(array1, bins) 
pd.value_counts(cat)
cat = pd.cut(array1, 2) 
cat = pd.qcut(array1, 2)
cat

[(0.999, 2.0], (0.999, 2.0], (2.0, 3.0]]
Categories (2, interval[float64, right]): [(0.999, 2.0] < (2.0, 3.0]]

In [ ]:
series1 = df1.sum()
series1

year         4020
state    OhioOhio
dtype: object

In [ ]:
df3.max()

col1         2
col2         4
state     Ohio
year      2010
newCol    None
dtype: object

In [ ]:
df1.describe()

         year
count     2.0
mean   2010.0
std       0.0
min    2010.0
25%    2010.0
50%    2010.0
75%    2010.0
max    2010.0

In [ ]:
df3.corr()

      col1  col2  year
col1   1.0   1.0   1.0
col2   1.0   1.0   1.0
year   1.0   1.0   1.0

In [ ]:
df3.cov()

      col1  col2  year
col1   0.5   0.5   5.0
col2   0.5   0.5   5.0
year   5.0   5.0  50.0

###Task3: Data Cleaning

Importing Libraries

In [ ]:
# 'os' module provides functions for interacting with the operating system 
import os

# 'Numpy' is used for mathematical operations on large, multi-dimensional arrays and matrices
import numpy as np

# 'Pandas' is used for data manipulation and analysis
import pandas as pd

# 'Matplotlib' is a data visualization library for 2D and 3D plots, built on numpy
from matplotlib import pyplot as plt
%matplotlib inline

# 'Seaborn' is based on matplotlib; used for plotting statistical graphics
import seaborn as sns

# to suppress warnings
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#upload from code cell
#from google.colab import files
#uploaded = files.upload()

Importing and exploration of the dataset

In [ ]:
df = pd.read_csv("/content/loans.txt",index_col="client_id")
df

,loan_type,loan_amount,repaid,loan_id,loan_start,loan_end,rate
client_id,,,,,,,
46109,home,13672.0,0.0,10243,4/16/2002,12/20/2003,2.15
46109,credit,9794.0,0.0,10984,10/21/2003,7/17/2005,1.25
46109,home,12734.0,1.0,10990,2/1/2006,7/5/2007,0.68
46109,cash,12518.0,1.0,10596,12/8/2010,5/5/2013,1.24
46109,credit,14049.0,NaN,11415,7/7/2010,5/21/2012,3.13
...,...,...,...,...,...,...,...
26945,other,12963.0,0.0,10330,11/26/2001,6/11/2004,2.46
26945,credit,1728.0,1.0,10248,1/27/2004,6/21/2005,5.27
26945,other,9329.0,0.0,10154,12/17/2001,7/22/2004,5.65
26945,home,4197.0,0.0,10333,10/16/2003,7/10/2005,4.50
26945,home,3643.0,0.0,11434,3/24/2010,12/22/2011,0.13

In [ ]:
df.head() #by default its 6

,loan_type,loan_amount,repaid,loan_id,loan_start,loan_end,rate
client_id,,,,,,,
46109,home,13672.0,0.0,10243,4/16/2002,12/20/2003,2.15
46109,credit,9794.0,0.0,10984,10/21/2003,7/17/2005,1.25
46109,home,12734.0,1.0,10990,2/1/2006,7/5/2007,0.68
46109,cash,12518.0,1.0,10596,12/8/2010,5/5/2013,1.24
46109,credit,14049.0,NaN,11415,7/7/2010,5/21/2012,3.13

In [ ]:
df.shape

(443, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 443 entries, 46109 to 26945
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   loan_type    441 non-null    object
 1   loan_amount  442 non-null    float64
 2   repaid       441 non-null    float64
 3   loan_id      443 non-null    int64
 4   loan_start   443 non-null    object
 5   loan_end     443 non-null    object
 6   rate         443 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 27.7+ KB

CHECKING THE COLUMN TYPES

In [ ]:
df.dtypes

loan_type       object
loan_amount    float64
repaid         float64
loan_id          int64
loan_start      object
loan_end        object
rate           float64
dtype: object

In [ ]:
df.describe()

        loan_amount      repaid       loan_id        rate
count    442.000000  441.000000    443.000000  443.000000
mean    7982.466063    0.532880  11017.101580    3.217156
std     4177.619214    0.499484    581.826222    2.397168
min      559.000000    0.000000  10009.000000    0.010000
25%     4229.250000    0.000000  10507.500000    1.220000
50%     8328.500000    1.000000  11033.000000    2.780000
75%    11744.500000    1.000000  11526.000000    4.750000
max    14971.000000    1.000000  11991.000000   12.620000

CONVERTING THE DATATYPE OF THE COLUMN

In [ ]:
df['loan_id'] = df['loan_id'].astype('object')
df['repaid'] = df['repaid'].astype('category')

In [ ]:
# loan_start:

#df['loan_start'] = pd.to_datetime(df['loan_start'], format = '%m-%d-%Y')
df['loan_start'] = pd.to_datetime(df['loan_start'])

# loan_end:

#df['loan_end'] = pd.to_datetime(df['loan_end'], format = '%m-%d-%Y')
df['loan_end'] = pd.to_datetime(df['loan_end'])

df.dtypes

loan_type              object
loan_amount           float64
repaid               category
loan_id                object
loan_start     datetime64[ns]
loan_end       datetime64[ns]
rate                  float64
dtype: object

In [ ]:
df.head()

          loan_type  loan_amount repaid loan_id loan_start   loan_end  rate
client_id
46109          home      13672.0    0.0   10243 2002-04-16 2003-12-20  2.15
46109        credit       9794.0    0.0   10984 2003-10-21 2005-07-17  1.25
46109          home      12734.0    1.0   10990 2006-02-01 2007-07-05  0.68
46109          cash      12518.0    1.0   10596 2010-12-08 2013-05-05  1.24
46109        credit      14049.0    NaN   11415 2010-07-07 2012-05-21  3.13

In [ ]:
df.loan_type.value_counts()

home      119
cash      108
credit    107
other     107
Name: loan_type, dtype: int64

In [ ]:
df.repaid.value_counts()

1.0    235
0.0    206
Name: repaid, dtype: int64

In [ ]:
df.loan_type.value_counts(normalize=True)

home      0.269841
cash      0.244898
credit    0.242630
other     0.242630
Name: loan_type, dtype: float64

In [ ]:
df.describe()

        loan_amount        rate
count    442.000000  443.000000
mean    7982.466063    3.217156
std     4177.619214    2.397168
min      559.000000    0.010000
25%     4229.250000    1.220000
50%     8328.500000    2.780000
75%    11744.500000    4.750000
max    14971.000000   12.620000

In [ ]:
df.describe(exclude=[np.number])

<ipython-input-179-171993a0883e>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(exclude=[np.number])

       loan_type  repaid  loan_id           loan_start             loan_end
count        441   441.0    443.0                  443                  443
unique         4     2.0    443.0                  430                  428
top         home     1.0  10243.0  2007-05-16 00:00:00  2008-08-29 00:00:00
freq         119   235.0      1.0                    2                    2
first        NaN     NaN      NaN  2000-01-26 00:00:00  2001-08-02 00:00:00
last         NaN     NaN      NaN  2014-11-11 00:00:00  2017-05-07 00:00:00

MISSING VALUE

In [ ]:
df.isnull()

,loan_type,loan_amount,repaid,loan_id,loan_start,loan_end,rate
client_id,,,,,,,
46109,False,False,False,False,False,False,False
46109,False,False,False,False,False,False,False
46109,False,False,False,False,False,False,False
46109,False,False,False,False,False,False,False
46109,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...
26945,False,False,False,False,False,False,False
26945,False,False,False,False,False,False,False
26945,False,False,False,False,False,False,False
26945,False,False,False,False,False,False,False
26945,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

loan_type      2
loan_amount    1
repaid         2
loan_id        0
loan_start     0
loan_end       0
rate           0
dtype: int64

In [ ]:
df.loc[df.isnull().any(axis=1)]

          loan_type  loan_amount repaid loan_id loan_start   loan_end  rate
client_id
46109        credit      14049.0    NaN   11415 2010-07-07 2012-05-21  3.13
46109           NaN      12656.0    0.0   11658 2006-05-26 2007-10-15  4.14
49545           NaN      14971.0    1.0   11247 2011-07-26 2013-12-15  0.15
49545          home      10519.0    NaN   10425 2001-09-27 2004-03-04  1.14
32885        credit          NaN    1.0   11006 2008-12-16 2011-07-20  5.25

In [ ]:
df= df.dropna(axis=0)           #axis=0 for row and axis=1 for column
df

          loan_type  loan_amount repaid loan_id loan_start   loan_end  rate
client_id
46109          home      13672.0    0.0   10243 2002-04-16 2003-12-20  2.15
46109        credit       9794.0    0.0   10984 2003-10-21 2005-07-17  1.25
46109          home      12734.0    1.0   10990 2006-02-01 2007-07-05  0.68
46109          cash      12518.0    1.0   10596 2010-12-08 2013-05-05  1.24
46109          home       6935.0    0.0   11501 2006-09-17 2008-11-26  1.94
...             ...          ...    ...     ...        ...        ...   ...
26945         other      12963.0    0.0   10330 2001-11-26 2004-06-11  2.46
26945        credit       1728.0    1.0   10248 2004-01-27 2005-06-21  5.27
26945         other       9329.0    0.0   10154 2001-12-17 2004-07-22  5.65
26945          home       4197.0    0.0   10333 2003-10-16 2005-07-10  4.50
26945          home       3643.0    0.0   11434 2010-03-24 2011-12-22  0.13

[438 rows x 7 columns]

In [ ]:
df.loc[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [loan_type, loan_amount, repaid, loan_id, loan_start, loan_end, rate]
Index: []

In [ ]:
df.loan_amount = df.loan_amount.fillna(df.loan_amount.mean())
#df.loan_amount.isnull

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
#categorical missing value
df.repaid=df.repaid.fillna(df.repaid.mode()[0])
#df.repaid = df.repaid.fillna(df.repaid.value_counts.index(0))
df.loan_type= df.loan_type.fillna(df.loan_type.mode()[0])

#### Insert as many code or text cells as you required and implement the given task.

### For uploading you need to execute the follwing script

In [ ]:
from google.colab import auth
auth.authenticate_user()
import requests
gcloud_token = !gcloud auth print-access-token
gcloud_tokeninfo = requests.get('https://www.googleapis.com/oauth2/v3/tokeninfo?access_token=' + gcloud_token[0]).json()
user = gcloud_tokeninfo['email']
import datetime
dt = datetime.datetime.now()
x = str(dt).split('.')[0]
print(f"This Script is executed by: ",user, "at", x)

This Script is executed by:  pallushabasumatary@gmail.com at 2023-01-05 04:59:25

### Congratulations you have reached to the end of the work sheet

*  go to file and print as `PDF` and upload the `PDF` it into MS Teams Link